{
  "default_timezones": [
    "UTC",
    "London",
    "Paris",
    "New York",
    "San Francisco",
    "Honolulu",
    "Beijing",
    "Tokyo"
  ],
  "cities": {
    "Beijing": "Asia/Shanghai",
    "Calcutta": "Asia/Kolkata",
    "Saigon": "Asia/Ho_Chi_Minh",
    "San Francisco": "America/Los_Angeles"
  },
  "aliases": {
    "HK": "Hong Kong",
    "KL": "Kuala Lumpur",
    "LA": "Los Angeles",
    "NY": "New York",
    "SF": "San Francisco"
  },
  "list_format": "<info>%1$-15s</info> %2$-7s %3$-9s %4$s"
}
